RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]

#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?jogosnainternet.com/.*$ [NC]
#RewriteRule \.(swf|unity3d)$ – [F]

RewriteCond %{HTTP_HOST} ^192\.34\.63\.221 [NC,OR]
RewriteCond %{HTTP_HOST} ^jogosnainternet.com [NC]
RewriteRule ^(.*)$ http://www.jogosnainternet.com/$1 [L,R=301]

AddDefaultCharset iso-8859-1